# =========================
# ENV / SECRETS
# =========================
.env
.env.*
!.env.example

# =========================
# OS
# =========================
.DS_Store

# =========================
# LOGS / TEMP
# =========================
*.log
log/
tmp/

# =========================
# NODE / NEXT
# =========================
web/node_modules
web/.next

# =========================
# RAILS
# =========================
api/log/*
api/tmp/*
api/storage/*
api/vendor/bundle

# CRÍTICO
api/config/master.key

# =========================
# DOCKER
# =========================
docker-data/

# =========================
# CLAUDE / LOCAL
# =========================
.claude/settings.local.json

# =========================
# EDITORS
# =========================
.vscode
.idea

external/free-exercise-db/
data/exercises_selected/
public/generated-exercise-videos/
data/exercises_selected/
data/all_exercises.txt
data/common_exercises.txt
